.community-capa {
    width: 50%; /* Ocupe a largura total disponível */
    height: 250px; /* Defina uma altura adequada para a capa */
    object-fit: cover; /* Corta a imagem mantendo o centro e preenchendo o container */
    border-radius: 10px; /* Arredonda os cantos da imagem */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Adiciona uma sombra para dar profundidade */
    margin-bottom: 20px; /* Espaçamento inferior para separar da próxima seção */

    background-color: #160115;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    overflow: hidden;
    margin: auto;
    
  }
  .community-capa img {
    width: 100%; /* Para que a imagem ocupe toda a largura do container */
    height: 100%; /* Para preencher toda a altura do container */
    object-fit: cover; /* Mantém o centro da imagem visível e corta o excesso */
    object-position: center; /* Centraliza a imagem, garantindo que o foco esteja no meio */
    border-radius: 10px; /* Arredonda os cantos da imagem */
}
  .community-container {
    text-align: center; /* Centraliza o conteúdo */
  }
  
  .community p {
    font-weight: bold;
    margin-top: 10px;
  }

.comunidade-container {
    width: 80%;
    margin: 0 auto;
  }
  
  .comunidade-header {
    text-align: center;
  }
  
  .comunidade-headerimg {
    width: 100%;
    height: auto;
    
  }
  
  .membros-lista {
    list-style-type: none;
    padding: 0;
  }
  
  .membros-lista li {
    margin-bottom: .5%;
  }
  
  .membros-lista li img {
    border-radius: 50%;
    margin-right: 5px;
    width: 60px;
    height: 60px;
    max-width: 150px;       /* Não cresce além de 150px */
    object-fit: cover;
    border: 5px solid #570b6d;
  }
  

  .publicacoes-lista {
    list-style-type: none;
    padding: 0;
  }
  
  .publicacao-item {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .publicacao-autor {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .autor-foto {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
  }
  
  .autor-info {
    display: flex;
    flex-direction: column;
  }
  
  .publicacao-data {
    font-size: 12px;
    color: #888;
  }
  
  .publicacao-conteudo {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
  }
  
  .publicacao-conteudo p {
    margin: 0;
  }