<!-- views/login.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>SkyWatchers - Login</title>
    <link rel="stylesheet" type="text/css" href="./styleLogin.css">
    <link rel="stylesheet" type="text/css" href="estilo-custom.css">
    <!-- Outros scripts que você pode precisar -->
    <script src="script.js"></script>
</head>
<body>
    <div class="login-container">
        <h1>SkyWatchers</h1>
        <h1>Login</h1>
        <% if (messages.error) { %>
            <p><%= messages.error %></p>
        <% } %>
        <form action="/login" method="POST">
            <div>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div>
                <label for="password">Senha:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Entrar</button>
            <a href="/register">Criar Conta</a>
        </form>
    </div>

    <script>
        document.querySelector('form').addEventListener('submit', async function (event) {
          event.preventDefault(); // Previne o envio padrão do formulário
      
          const email = document.getElementById('email').value;
          const password = document.getElementById('password').value;
      
          try {
            const response = await fetch('/login', {
              method: 'POST',
              headers: { 'Content-Type': 'application/json' },
              body: JSON.stringify({ email, password }),
            });
      
            if (response.ok) {
              const data = await response.json();
              console.log('Login bem-sucedido:', data);
      
              // Redirecionar para a página de feed
              window.location.href = '/feed';
            } else {
              const error = await response.json();
              alert('Erro no login: ' + error.message);
            }
          } catch (err) {
            console.error('Erro ao tentar logar:', err);
            alert('Erro no sistema. Tente novamente.');
          }
        });
      </script>
</body>
</html>
