body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #0cd6ff;
}

.login-container {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: 0 auto;
   
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
}

input {
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    border-bottom: 10px;
    cursor: pointer;
    margin-bottom: 10px;

}


button:hover {
    background-color: #0056b3;
}